.footer {
    text-align: center;
    width: 100%;
    bottom: 0;
}





.footer-a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .social-images a {
        margin: 10px 10px;
    }
}
