

.image-cropper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    padding: 0;
}

img {
    height: 100%;
    width: 100%;
}
  .title {
    color: black;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  p {
      font-size: 16px;
  }

  .row-card {
    margin: 150px auto;
    padding: 20px;
  }

  .trimmed-row-card {
    display: flex;
  }

  .box-card-left {
    float: left;
    width: 33.333%;
  }

  .box-card-center {
    display: inline-block;
    width: 33.333%;
  }

  .box-card-right {
    display: inline-block;
    width: 33.333%;
  }

  .image-row-card {
    position: relative;
    text-align: center;
    color: white;
  }

  .row-card-column1 {
    float: left;
    width: 50%;
    text-align: center;
  }
  .row-card-column2 {
    float: right;
    width: 50%;
  }

  .landing-buttons {
    display: inline-flex;
    margin: 0;
  }

  .consult-button {
    padding: 0 1px;
    font-size: 17px;
    opacity: 0.7;
  }

  .safety-logo-cropper {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 0;
  }
  .text-over-image {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
  }

  .image-text {
    margin: 0;
  }

  .image-text-btn {
    color: white;
    padding: 5px;
  }

  .image-text-btn:hover {
    color: black;
  }
  .column-1-card {
    float: left;
    width: 50%;
    padding: 10px;
    padding-bottom: 50px;
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
  }
  .column-2-card {
    float: left;
    width: 50%;
    padding: 10px;
    margin: auto;
  }

  .tech-skills-text {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 0 20px;
  }

  .location-img {
    width: 25px;
    height: 25px;
  }

  hr.solid {
    border-top: 1px #DB2A20 solid
  }

  .para-text {
    font-size: 15px;
    margin: 0 80px;
  }

  .partner-title {
    font-size: 30px;
    display: block;
    margin: 0 auto;
  }

  .row-card-last {
    display: inline-block;
    width: 100%;
    margin-top: 100px;
  }

  .row-card-img {
    margin-top: 100px;
  }
  
  .partner-cropper {
    width: 600px;
  }

  @media only screen and (max-width: 768px) {
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border: 1px rgba(0, 0, 0, 0.2) solid;
      min-width: 350px;
      max-width: 350px;
      text-align: center;
      font-size: 5px;
      margin: 0 auto;
      padding-bottom: 0;
    }
    .image-cropper {
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      padding-top: 0;
      margin: 0 auto;
  }
  .row-card {
    display: block;
    margin: 0 auto;
    padding: 20px;
  }
  .column-1-card {
    position: relative;
    width: 100%;
    border-right: none;
    padding: 0;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  }
  .column-2-card {
    position: relative;
    margin: auto;
    width: 100%
  }

  }