@media only screen and (min-width: 768px) {

.logo-border {
  height: 140px;
  border-bottom: 1px solid #E5E5E5;
}

.logo-img {
  width: 250px;
  height: 120px;
  filter: invert(100%);
  }

.navbar {
}

.nav-content {
  margin: 0;
  padding: 0;
}
    
.nav-item {
  display: block;
  border-bottom: 1px solid #E5E5E5;
  padding: 30px 0;
}

.nav-items {
  margin: 0 auto;
  padding: 0;
}

.clickyButton {
  padding: 10px 15px;
}

.resumeButton {
  display: block;
  padding: 10px 15px;
}

.resumeButton a{
  text-decoration: none;
  color: #C7C7C7;
}

.nav-item a {
  text-decoration: none;
}

.logo-img:hover {
  opacity: 0.4;
  transition: opacity 0.5s;
  }

.nav-item:hover {
  text-decoration: none;
  color: #E5E5E5;
  background-color: #7F7F7F;
  transition: background-color 1s;
}

.resumeButton:hover {
  color: #E5E5E5;
  background-color: #7F7F7F;
  transition: background-color 1s;
}

.image-socials_mail {
  height: 30px;
  opacity: 0.5;
}

.image-socials_linkedin {
  height: 30px;
  opacity: 0.5;
}

.image-socials_github {
  height: 33px;
  opacity: 0.5;
}

.social-images a {
    margin: 0 15px;
}

.image-socials_github:hover, .image-socials_linkedin:hover, .image-socials_mail:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

}




@media only screen and (max-width: 768px) {
  .navbar {
    margin-top: 0px;
    width: 100%;
    font-size: 8px !important;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  .nav-content {
    padding: 0;
  }
  
  .nav-items {
    margin: 0 auto;
    padding-left: 0;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .nav-item {
    display: block;
    font-size: 15px;
    padding: 20px;
    text-decoration: underline white;
  }
  .resumeButton {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
  }
  
  .resumeButton a{
    display: block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px;
  }

  .nav__footer {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .social-images {
    margin-bottom: 10px;
  }
  
  .clickyButton:hover {
    color: white;
    transition: color 0.5s;
  }
  
  .nav-item a:hover {
    text-decoration: none;
    color: black;
  }
  
  .resumeButton:hover {
    color: white;
    transition: color 0.5s;
  }

  .image-socials {
    margin-top: 10px;
    height: 30px;
    transition: transform 0.2s ease;
}

.image-socials_github {
  margin-top: 10px;
  height: 30px;
  transition: transform 0.2s ease;
  filter: invert(100%);
}

.social-images a {
    margin: 0 15px;
}
.footer-a {
  display: inline-block;
  font-size: 9px;
  padding: 0 !important;
  margin: 0 !important;
  text-decoration: underline;
  transition: transform 0.2s ease;
}
}