@media only screen and (min-width: 768px) {
  .logo-img {
    width: 150px;
    margin-top: 30px;
    }
    .navbar {
      overflow: hidden;
        position: fixed;
        color: rgba(56, 102, 65);
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
        width: 19.7%;
        height: 100%;
    }
    
    .nav-content {
      margin: 0;
    }

    .nav-text-diff {
      margin-top: 100px;
    }

    .nav-items {
      margin: 1rem 2rem 0 0;
    }
    
    .nav-item {
      display: block;
      font-size: 17px;
      text-decoration: underline white;
    }
    
    .clickyButton {
      padding: 10px 15px;
      color: white;
    }
    
    .resumeButton {
      display: block;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      padding: 5px;
    }
    
    .resumeButton a{
      font-size: 18px;
      color: white;
      text-decoration: none;
    }

    .nav__footer {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 90%;
      border-radius: 5px;
    }

    .social-images {
      margin-bottom: 10px;
    }
    
    .logo-img:hover {
      opacity: 0.4;
      transition: opacity 0.5s;
      }
    
    .clickyButton:hover {
      opacity: 0.4;
      transition: opacity 0.5s;
    }
    
    .nav-item a:hover {
      text-decoration: none;
      color: black;
    }
    
    .resumeButton:hover {
      color: white;
      transition: color 0.5s;
    }
    
    .resumeButton a:hover {
      text-decoration: none;
      color: black;
    }

    .image-socials {
      margin-top: 10px;
      height: 30px;
      transition: transform 0.2s ease;
  }

  .image-socials_github {
    margin-top: 10px;
    height: 30px;
    transition: transform 0.2s ease;
    filter: invert(100%);
}
  
  .social-images a {
      margin: 0 15px;
  }
  
  .footer-para-text {
      font-size: 11px;
      color: black;
  }
  
  .image-socials:hover {
      opacity: 0.4;
      transition: opacity 0.5s;
  }

  .image-socials_github:hover {
    opacity: 0.4;
    transition: opacity 0.5s;
}

  .footer-a {
    display: inline-block;
    font-size: 9px;
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: underline;
    transition: transform 0.2s ease;
}
    }
    @media only screen and (max-width: 768px) {
      .navbar {
        margin-top: 0px;
        width: 100%;
        font-size: 8px !important;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.4);
      }
      
      .nav-content {
        padding: 0;
      }
      
      .nav-items {
        margin: 0 auto;
        padding-left: 0;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);
      }
    
      .nav-item {
        display: block;
        font-size: 15px;
        padding: 20px;
        text-decoration: underline white;
      }
      .resumeButton {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 5px;
      }
      
      .resumeButton a{
        display: block;
        font-size: 18px;
        color: white;
        text-decoration: none;
        padding: 10px;
      }
  
      .nav__footer {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.2);
      }
  
      .social-images {
        margin-bottom: 10px;
      }
      
      .clickyButton:hover {
        color: white;
        transition: color 0.5s;
      }
      
      .nav-item a:hover {
        text-decoration: none;
        color: black;
      }
      
      .resumeButton:hover {
        color: white;
        transition: color 0.5s;
      }

      .image-socials {
        margin-top: 10px;
        height: 30px;
        transition: transform 0.2s ease;
    }
  
    .image-socials_github {
      margin-top: 10px;
      height: 30px;
      transition: transform 0.2s ease;
      filter: invert(100%);
  }
    
    .social-images a {
        margin: 0 15px;
    }
    .footer-a {
      display: inline-block;
      font-size: 9px;
      padding: 0 !important;
      margin: 0 !important;
      text-decoration: underline;
      transition: transform 0.2s ease;
  }
    }