.card {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 50px;
    height: 100%;
  }

.profile-header {
  font-size: 30px;
  }

.profile__row {
  display: flex;
  margin-right: 100px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.profile__column2{
  padding: 0 70px 0 0px;
}

.image-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 178px;
  height: 200px;
  border: 1px solid black;
  margin: 50px;
}

  .title {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }

  p {
      font-size: 16px;
  }

  @media only screen and (max-width: 768px) {
    .card {
      min-width: 350px;
      max-width: 350px;
      text-align: center;
      font-size: 5px;
      margin: 0 auto;
      padding-bottom: 0;
      display: block;
    }
    .image-cropper {
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      padding-top: 0;
      margin: 0 auto;
  }

  .CEO__title {
    font-size: 30px;
  }

  .img__cropper_text {
    margin: 0;
    padding: 0;
  }

  .profile__row {
    width: 100%;
    display: block;
  }

  .profile__column1{
    width: 100%;
  }

  .profile__column2{
    width: 100%;
    font-size: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }

  .profile__column2_text {
    font-size: 15px;
    padding: 0 20px 0 20px;
  }

  }