.projects-header {
    color: white;
    font-size: 30px;
  }

.projects-heading-row {
  display: flex;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 25px;
  margin-right: 100px;
  border-radius: 5px;
}

.projects-heading-column1, .projects-heading-column2, .projects-heading-column3, .projects-heading-column4 {
  margin-top: 30px;
  padding: 30px;
  width: 50%;
  float: left;
  border-radius: 5px;
  border: 1px white solid;
}

.project_images {
  width: 100px;
}
  
.projects-row {
    display: flex;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 30px;
    margin-right: 100px;
    border-radius: 5px;
}

  .projects-column1 {
      float: left;
      width: 50%;
      border-radius: 5px;
  }

  .projects-column2 {
    width: 50%;
    float: right;
    height: 200px;
  }

  .image-carousel {
    width: 500px;
    margin-top: 50px;
    float: right;
  }

  .tech-skills {
      display: inline-flex;
      white-space: nowrap;
  }

  .tech-skills-text {
      border: 1px rgba(255, 255, 255, 0.2) solid;
      padding: 10px;
      margin: 1px;
      font-size: 15px;
  }

  .projects__row_logos {
    display: inline-flex;
  }

  .projects-link-image {
      width: 35px;
      transform: scale(0.7);
      filter: invert(100%);
      margin: 0 30px;
  }

  .projects__row_logos_a {
    vertical-align: auto;
    margin: auto;
  }

  .projects-link-image_text {
    margin: 0;
    font-size: 11px;
  }

  .projects-link-image:hover {
    transform: scale(1);
    transition: 0.5s;
  }
@media only screen and (max-width: 768px) {
  .projects-row {
    display: block;
    width: 100%;
}

.projects-column {
    width: 100%;
    padding: 0 40px;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px rgba(0, 0, 0, 0.2) solid;
}

.projects-column1 {
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.projects-column2 {
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
}
}