.App {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 141px 73vh 15vh;
    grid-template-areas: 
    "navbar-grid header-grid"
    "navbar-grid app-body"
    "resumeBtn footer";
}

.navbar-grid {
    text-align: center;
    grid-area: navbar-grid;
}
.app-body {
    display: grid;
    grid-area: app-body;
    justify-items: start;
    align-items: start;
    overflow-y: auto;
    border-left: 1px solid #E5E5E5;
    scrollbar-color: #1E1E1E #C7C7C7;
    scrollbar-width: thin;
}

.card {
    display: grid;
    margin: 0;
    left: 0;
    padding: 0;
    width: 100%;
    justify-items: start;
    align-items: start;
    height: 100vh;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #C7C7C7;
}

::-webkit-scrollbar-thumb {
    background: #1E1E1E;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #1E1E1E;
}


.header-grid {
    display: grid;
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    grid-area: header-grid;
    justify-items: center;
    align-items: center;
    font-size: 17px;
}

/* Typewriter effect */
.typewriter h5 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #1E1E1E; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1E1E1E; }
  }

.nav__footer__row {
    border-top: 1px solid #E5E5E5;
    grid-area: resumeBtn;
    text-align: center;
}

.footer {
    display: grid;
    grid-area: footer;
    justify-items: center;
    border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    padding-top: 20px;
}

.footer__row {
    margin: 0;
    padding: 0;
}

.footer_text {
    margin: 10px 10px 0 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 15px;
}

.nav__footer__row2 {
    display: flex;
}

.toggleButton {
    visibility: hidden;
    display: none;
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .toggleButton {
      visibility: visible;
      display: block;
      height: 35px;
      width: 35px;
      border-radius: 5px;
      z-index: 9999;
      position: fixed;
      top: 0;
      left: 0;
      background-image: url('../src/components/Icons/hamburger.png');
      background-size: cover;
    }
    .logo-img {
        width: 140px;
        height: 70px;
        margin-top: 30px;
        }
  }