@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
}
* {
  cursor: crosshair;
}

code {
  font-family: 'Lobster Two', cursive;
}

img {
  display: inline;
  height: 100%;
  width: auto;
}