@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/components/Icons/background.png') !important;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}
* {
  cursor: crosshair;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: inline;
  height: 100%;
  width: auto;
}